<div class="postsContainer">
    <div class="media post">
        <div ng-repeat="post in feed.f" class="media-left media-middle">
            <a href="#">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading date">11.45 - 2 Februari </h4>
            <p class="message"> Zie hier de samenvatting van 'Nederland en de Wereld' van Johan Huizinga en Piet de Rooy. </p>
            <p class="author">Johannnes Schouwenberg</p>
        </div>
    </div>


    <div class="postCreator">
    </div>

</div>