<div class="postsContainer">
    <div ng-repeat="post in feed.course.feed" class="media">
        <div class="media-left media-middle">
             <a href="#">
                <img src="http://assets-s3.usmagazine.com/uploads/assets/celebrities/238-brad-pitt/1250530894_brad_pitt_290x402.jpg" width="25" height="25" class="img-circle media-object hidden-xs" style="margin: 10px;">
            </a>
        </div>
        <div class="media-body">
            <h1 class="title-text">{{post.title}}</h1>
            <p class="tekst">{{post.contents}}</p>
            <p class="author">{{post.author}}</p>
        </div>
    </div>
</div>


<div class="postCreator">

</div>
