<div class="postsContainer">
    <div ng-repeat="post in feed.course.feed" class="media">
        <div class="media-left media-middle">
             <a href="#">
                <img class="media-object" src="..." alt="...">
            </a>
        </div>
        <div class="media-body">
            <h1 class="title-text">{{post.title}}</h1>
            <p class="tekst">{{post.contents}}</p>
            <p class="author">{{post.author}}</p>
            <p>{{posts.date}}</p>
        </div>
    </div>
</div>


<div class="postCreator">

</div>
