<div class="shopContainer">
    <ul class="list-unstyled">
        <li ng-repeat="item in shop.shop" class="item">
            <div class="jumbotron">
                <div class="shopInfo">
                    <div class="itemBox clearfix media">
                        <div class="media-left media-middle">
                            <img class="itemPic" src="http://i.imgur.com/Iy9axC7.png"/>
                        </div>
                        <div class="media-body">
                            <h3>{{item.name}}</h3>
                            <p class="tekst">{{item.contents}}</p>
                        </div>
                    </div>
                    <div class="clearfix">
                        <h3>Cost: {{item.pointsRequired}}</h3>
                        <button class="btn btn-primary btn-md btn-float" href="#" role="button">Set goal</button>
                        <button class="btn btn-primary btn-md btn-float" href="#" role="button">Cash in</button>
                    </div>
                    <div>
                        <p>progess:</p>
                        <div class="progressLine"></div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="bottomSearch">
	
</div>