/* GENERAL RULES (REQUIRED) */
* {
  box-sizing: border-box;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  color: #1d1f20;
  font-family: 'Roboto', sans-serif;
}

/* Styles */

body {
  width: 100%;
  background: black;  
}

.appContainer {
  position:relative;
  overflow:scroll;
  margin:40px auto;
  width:400px;
  height: 600px;
  background: #d0d0d0;
}

.viewContainer {
  padding-top: 70px;
  background-color: rgb(208, 208, 208);
}


/* NAV Styles */

.navbar {
  border-radius: 0;
  position: fixed;
  width: 400px;
  z-index: 1000;
  border: 0;
  background-color:#EEE;
  border-bottom: 3px solid #BC0031;
}

.navbar-nav a {
  color: rgb(29, 31, 32);
}

.navbar-nav a.active {
  background-color: #BC0031;
  color: #EEE;
}

.navbar-nav a.active:hover {
  background-color: #BC0031;
  color: #EEE;
}

.navbar-nav a.active:focus {
  background-color: #BC0031;
  color: #EEE;
}

/* POST Styles */

.tekst {
  font-weight:300;
  color: white;
  font-family: Roboto;
  font-style: italic;
  font-size: 16px;
  line-height: 18px !important;
  color: #666 !important;
}
.author {
  float: right;
  padding-right: 20px;
  font-size: 12px;
  color: #9c9c9c !important;
}
.title-text {
  text-align:center;
  font-size:40px;
  color: #666 !important;
  text-align: left;
}


/* TAB RULES */
.appcontainer .tab .title {
  cursor:pointer;
  position:absolute;
  padding:18px 10px;
  background-color:#EEE;
  border-bottom:3px solid #BC0031;
  width:33.3%;
  z-index:1;
  text-align:center;
}

/* SEARCH */
.search {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 60px;
  background: #333;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-form {
  border-top: none !important;
  border-bottom: none !important;
}

/* FEED */
.feedblock {
  display: inline-block;
  background-image: url("http://i.imgur.com/AFaQRHe.png");
  background-size: 18%;
  background-repeat: no-repeat;
}

/* USERS */

.usersList {
  list-style: none;
  padding: 0;
}

.user {
  border-radius: 10px;
  margin: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #9a9a9a;
}

.user * {
  float: left;
}

.selectLine {
  height: 10px;
  width: 90%;
  margin: 10px 5% 0 5%;
  border-radius: 10px;
}

.avatar {
  margin-left: 10px;
  border-radius: 300px;
  width: 50px;
}

.name {
  margin-left: 20px;
}

.some-list {
    ul {
        margin-top: -30px;
    }
    ul li {
        list-style-type: none;
        margin-left: -40px;
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
        width: 275px !important;
        border-bottom: 1px solid #9a9a9a;
    }
    ul li:nth-child(even) {
    background-color: #c6c6c6;
    }
}

.punten {
  font-size: 10px;
  padding: 3px 6px 3px 6px;
  margin-left: 5px;
  text-transform: uppercase;
  background: #004E92;
  border-radius: 10px;
  color: white;
}
