/* Styles go here */
body {
  width: 100%;
  background-color:#1d1f20;
}

/* GENERAL RULES (REQUIRED) */
* {box-sizing:border-box;transition:all 0.3s;-webkit-transition:all 0.3s;color:#1d1f20;font-family: 'Roboto', sans-serif;}
.display-none {display:none;}

/* GENERAL RULES (OPTIONAL) */
.tekst {
  font-weight:300;
  color: white;
  font-family: Roboto;
  font-style: italic;
  padding-left: 50px;
  font-size: 16px;
  line-height: 18px !important;
  color: #666 !important;
}
.author {
  float: right;
  padding-right: 20px;
  font-size: 12px;
  color: #9c9c9c !important;
}
.title-text {
  text-align:center;
  font-size:40px;
  color:#EEE;
}
.appcontainer {
  position:relative;
  margin:40px auto;
  width:275px;
  height: 550px;
  background: #d0d0d0;
}

/* TAB RULES */
.appcontainer .tab {
  position:relative;
  float:left;
  margin-bottom:-300%;
}
.appcontainer .tab .title {
  cursor:pointer;
  position:absolute;
  padding:18px 10px;
  background-color:#EEE;
  border-bottom:3px solid #BC0031;
  width:33.3%;
  z-index:1;
  text-align:center;
}
.appcontainer .tab .title.not-first {
  right:0;
}
#second-tab {
  margin-left: -92px; /* Niet de beste oplossing */
}
#second-tab-inner {
  margin-left: 92px;
  width: 100%;
}

/* CHANGE TABS */
.appcontainer input[type="radio"]:checked ~ .title {
  background-color:#BC0031;
  color:#EEE;
}
.appcontainer input[type="radio"]:checked ~ .reveal .lay-frame div {
  transform:translateX(0px);
  -webkit-transform:translateX(0px);
  opacity:1;
  z-index:1;
}
.appcontainer input[type="radio"]:checked ~  .reveal .text-frame div {
  transform:translateX(0px);
  -webkit-transform:translateX(0px);
  opacity:1;
  z-index:1;
}
.appcontainer input[type="radio"]:checked ~  .reveal .text-frame .user {
  transform:translateX(0px);
  -webkit-transform:translateX(0px);
  opacity:1;
  z-index:1;
}

/* SEARCH */
.search {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 60px;
  background: #333;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-form {
  border-top: none !important;
  border-bottom: none !important;
}

/* FEED */
.feedblock {
  display: inline-block;
  background-image: url("http://i.imgur.com/AFaQRHe.png");
  background-size: 18%;
  background-repeat: no-repeat;
}

/* USERS */
.avatar {
  border-radius: 300px;
  width: 50px;
}
.name {
  margin-left: 20px;
}
ul {
  margin-top: -30px;
}
ul li {
  list-style-type: none;
  margin-left: -40px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  width: 275px !important;
  border-bottom: 1px solid #9a9a9a;
}
ul li:nth-child(even) {
  background-color: #c6c6c6;
}
.punten {
  font-size: 10px;
  padding: 3px 6px 3px 6px;
  margin-left: 5px;
  text-transform: uppercase;
  background: #004E92;
  border-radius: 10px;
  color: white;
}


/* REVEALED RULES */
.appcontainer .reveal {
  margin: 58px 0 0 0;
  padding-top: 20px;
  overflow: hidden;
}

/* UNDERTEXT RULES */
.reveal .text-frame div {
  position:relative;
  float:left;
  width:100%;
  opacity:0;
  z-index:0;
  transform:translateX(-300%);
  -webkit-transform:translateX(-300%);
}
.reveal .text-frame .user {
  position:relative;
  float:left;
  width:100%;
  opacity:0;
  z-index:0;
  transform:translateX(-300%);
  -webkit-transform:translateX(-300%);
}
.reveal .text-frame h2 {
  cursor:pointer;
  margin-top:-8px;
  margin-bottom:-8px;
  line-height:0.9;
}
.reveal .text-frame h2 a {
  font-size:16px;
  font-weight:300;
  text-transform:uppercase;
  color:#BC0031;
}
.reveal .text-frame h2 a:hover {color:rgba(224, 52, 106,0.75);}
.reveal .text-frame p {cursor:auto;color:#EEE;}
.reveal .text-frame .border-bottom {border-bottom:1px solid #9a9a9a;}